html {
    height: 100%;
}

body{
    background-color: rgb(160, 205, 224); 
}
#wrapper{
    position: relative;
    height: 70%;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(206, 225, 233); 
}
#content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
    width: 50%;
}
#name, #email, #age, #password, #passwordCheck{
    background-color: transparent;
    border-color: white;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 70%;
}
h2{
    text-align: center
}
h3 {
    font-size: 14px;
    font-weight: 700;
}
.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: rgb(255, 0, 0);    
    display: none;
}
.btn_area {
    margin: 30px 0 91px;
}
#btnJoin {
    background-color: rgb(78, 78, 84);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
}