.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  background-color: #22254b; 
}

.movieContainer {
  position: relative; 
  width: 200px; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column; 
}

.movieContainer img {
  border-radius: 10px 10px 0 0;/*위쪽 테두리만 둥글게*/
  width: 100%; 
}

span{margin: 10px;}

.overview {
  font-size: 12px;
  display: none; 
}

#overViewTitle{
  margin: 20px;/*상세 설명 테두리로부터 떨어지게*/
 } 

 #overViewExplain {
  margin: 20px;
  text-align: justify; 
  max-height: 9em; 
  overflow: hidden; 
  text-overflow: ellipsis; 
 } 

.movieContainer:hover .overview {
  display: block; 
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%;
  border-radius: 10px 10px 10px 10x;/*모두 둥글게*/
  color: white;
  background-color: rgba(0, 0, 0, 0.8); /* 배경색 및 투명도 설정 */
}

.movieContainer .explain { 
  font-size: 12px;
  display: flex;
  justify-content: space-between; 
  color: white;
  background-color: #373b69;
  height: 80px;
  border-radius: 0 0 10px 10px;/*아래쪽 테두리만 둥글게*/
}

